.collections{
    margin-top:70px;
    text-align: center;
}
.collectionsholder{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: calc(100vh - 792px);
}

.collection1{
    width: 377px;
    padding-top: 20px;
}
.collection2{
    width: 377px;
    padding-top: 20px;
}
.collection3{
    width: 377px;
    padding-top: 20px;
}
