.collections{
    margin-top:70px;
    text-align: center;
    font-size: 42px;
    color: #C9954C;
}
.collectionsholder{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

}

.collection1{
    width: 600px;
    padding-top: 20px;
}
.collection2{
    width: 600px;
    padding-top: 20px;
}
.collection3{
    width: 600px;
    padding-top: 20px;
}
