.collections{
    margin-top:70px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    font-style: oblique;
    color: #C9954C;
}
.collectionsholder{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: calc(100vh - 792px);
}

.collection1{
    width: 377px;
    padding-top: 20px;

}

.collection1:hover {
    text-decoration: none !important;
    color: #f2f2f2;
}

.collection2:hover {
    text-decoration: none !important;
    color: #f2f2f2;
}

.collection2{
    width: 377px;
    padding-top: 20px;
}
.collection3{
    width: 377px;
    padding-top: 20px;
}
