#post{
    margin-bottom: 20px;
}
#posttitle{
    font-size: 32px;
    color: #4286f4;
}
#postdate{
    color: #626262;
}
#postimgbox{
    display: flex;
    justify-content: center;
}
#postimg{
    max-height: 600px;
    max-width: 100%;


}
#posttext{
    font-size: 20px;
}
