

.brand-container{
    margin-top: 14%;
    background-color: #fff;
    /*color: #c6c6c6;*/
    font-family: 'Bellefair', serif;
    margin-top: 10%; 
    max-height:510vh;
    color: #626262;

}



p{
    font-size: 16px;
    line-height: 30px;
    margin-left: 25%;
    margin-right: 25%;
}

h3{
    font-size: 19px;
    line-height: 30px;
    margin-top: 3%;
}

h1{
    font-size: 30px;
}



.m-d{
    margin-top: 10px;
}