

.brand-container{
    font-family: 'Bellefair', serif;
    height:100%;
    color: #626262;
}


p{
    font-size: 16px;
    line-height: 30px;
    margin-left: 25%;
    margin-right: 25%;
}

h3{
    font-size: 19px;
    line-height: 30px;
    margin-top: 3%;
}

h1{
    font-size: 30px;
}



.m-d{
    margin-top: 10px;
}

.img-logo{
    /*background-size: auto;
    background-image: url("/../images/full-logo.png");
    background-repeat: no-repeat;*/
    height: 120px;
    width: 120px;
    margin: 0 auto;
    
}

.full-logo{
    height: 120px; 
    width: 120px; 
}
