.white-text{
	color: white;
}

.table-responsive {
    margin: 0 15px;
}

.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

#viewtitle {
    text-align: center;
    font-weight: bold;
    font-style: oblique;
}