#dDresses {
    text-align: center;
    color: #C9954C;
}

#dPage {
    margin: 20px;
}

#dContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;


}

.dressContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.dress{
    margin-bottom: 20px;
    width: 320px;
}
