#left-part {
    color: #c19925;
    width: 30vw;
    height: 70vh;
    background-color: rgba(30, 100, 150, .2);
    border-radius: 10px;
    text-align: center;
    font-family: Bellefair, serif;
}

#moonlight-text {
    font-size: 3em;
    margin: 0;
    text-shadow: 3px 3px rgba(235, 60, 192, .29);
}

#moonlight-date {
    display: inline-block;
    font-size: 1.5em;
}

.toplefttext {
    font-size: 1.2em;
    width: auto;
    color: #c29943;
}

#collection-stuff {
    clear: both;
}

.toplefttext {
    margin: 50px;
}

#banner{
    width:100%;
    height:auto;
    position:relative;
    list-style:none;
    margin:0 auto;
    padding:0;
    background: #ccc;
}

#banner li{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:300px;
    background: no-repeat scroll center center / cover;
}

#banner #slide-1{
    background-image:url(http://www.google.com/about/datacenters/gallery/images/_2000/LNR_015.jpg);
}
#banner #slide-2{
    background-image:url(http://www.google.com/about/datacenters/gallery/images/_2000/GBL_001.jpg);-webkit-animation: fadeOut 2s ease-in-out forwards;

/* css aimation  */
    opacity:0;
    animation: fadeIn 4s infinite;
    animation-delay: 0s;
}

a{
  text-align:center; 
  display:block;
}

@-webkit-keyframes fadeIn {
    100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
    100% { opacity: 1; }
}

@-o-keyframes fadeIn {
    100% { opacity: 1; }
}

@keyframes fadeIn {
    100% { opacity: 1; }
}


