#moonlight-text {
    color: gold;
    text-align: center;

}
#moonlight-date {
    color: blue;
    text-align: center;
}
.collectionbox{
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: red;
}
.collectionstack{
    border: solid 3px #F0F0F0;
    padding: 0px;
    background-color: magenta;
    height: 642px;
    width: 377px;
}
.toplefttext{
    width: 160px;
    text-align: center;
    z-index: 2;
    background-color: red;
    position: absolute;
    height: 200px;
    padding: 15px;
    display:block;
}
.imgtopright{
    position: relative;
    left: 71px;
    z-index: 0;
    width:300px;
    background-color: orange;
    height: 175px;

}
.imgundertext{
    position: absolute;
    top: 300px;
    width: 120px;
    z-index: 1;
    height: 300px;
    background-color: blue;
}

.rightimg{
    position: relative;
    left: 72px;
    z-index: 0;
    width: 300px;
    background-color: purple;
    height: 250px;
    top: 0px;
}

.middletxt{
    position: relative;
    left: 110px;
    top: -50px;
    background-color: yellow;
    z-index: 3;
    height: 65px;
    width: 150px;
}
.rightrightimg{
    position: relative;
    left: 252px;
    top: -200px;
    width: 120px;
    background-color: cyan;
    height: 200px;
    z-index: 1;
}
.bottomimg{
    z-index: 0;
    position: relative;
    left: 0px;
    top: -274px;
    width: 371px;
    height: 220px;
    background-color: violet;
}
