.home-container{
	display: block;
	color: black;
	/*background-color: #FFFFFF;*/
	/*width:90%;*/
	overflow-x: hidden;
	height: 100%;
}
/*Section 1*/
/*Section 1*/


/*Section 2*/
.sec-2{
	 /* height: 80vh;  */
	display: flex;
	clear: both;
}


#sec-2-color-t{
	background-color: #FFF8E7;
}

#sec-2-color-y{
	background-image: url('https://s-media-cache-ak0.pinimg.com/736x/b5/6e/0b/b56e0bbe0d8d77a381e3de58416ee9cd--pakistani-dresses-indian-dresses.jpg');
	background-position: left center
	/* background-repeat: no-repeat;  */
}

.sec-2-Collections{
	margin-left: 19%;
}

.sec-2-bm{
	margin-left: 24%;
}

#sec-2-bm-li{
	margin-left: 300px;
}

#sec-2-bm-li div{
	margin-right: -20px;
}

#sec-2-bm-li img{
	height: 140px;
	width: 140px;
}
.Latest-Collections{
	background-color: #f6ecdd;
	float: left;
	padding: 4%;
	width: 50%;
	
}

#pAnimate{
	color: #F6ECDD; 
}

.p-keyframe{
	animation-name: collect;
	animation-duration: 0.75s;
	transition: all ease-in 0.75s;
	 -webkit-animation-fill-mode: forwards; 

}

.p-keyframe-from-right{
	animation-name: collect2; 
	animation-duration: 0.75s;
	transition: all ease-in 0.75s;
	 -webkit-animation-fill-mode: backwards; 

}


@keyframes collect{

	from {
		transform: translateX(-100%);
		opacity: 0; 
	}
			

	to{
		transform: translateX(0);
		opacity: 1; 
	}
	
}

@keyframes collect2{

	from {
		transform: translateX(200%);
		opacity: 0; 
	}
			

	to{
		transform: translateX(0);
		opacity: 1; 
	}
	
}


.sec-2-bm-img{}


/* .cont{
	 height: 700px; 
	background-color: #fff;;
}

  .collect-1{ 

}  */

/* .right h1, div, p{
	position: relative;
}

.left{
	position: relative;
	height: inherit;
	float: right;
	width: 50%;
	background-image: url('https://s-media-cache-ak0.pinimg.com/736x/56/99/68/569968bcfe5b7886b8821aecc068325c--blue-lehenga-party-wear-indian-dresses-lehenga-choli.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	
}
.right{
	position: relative;
	height: inherit;
	float: right;
	width: 50%;
} */




/*Section 2*/






/*Section 3*/

.sec-3{
	background-color: #910025;
	height: 40vh;
	color: #EE7B60;
	margin-top: 0px;
	display: block;
	clear: both;
	
	
}

.sec-3 div, h1, p{
	position: relative;
	display: block;
	clear: both;
}

.sec-3 p{
	color: #fff3ee;
	font-family: Helvetica, sans-serif;
	font-size: 30px;
	font-style: normal;
	line-height: 36px;
}

.sec-3 button{
	background-color: transparent;
	border-style: solid;
	border-color: #EE7B60;
	padding: 15px;
}


.sec-3-btn-padder{
	padding: 30px;
	position: relative;

}

/*Section 3*/


/*Section 4*/
/*Section 4 {img}*/
#sec-4-img-1{
	background-image: url('https://s-media-cache-ak0.pinimg.com/736x/56/99/68/569968bcfe5b7886b8821aecc068325c--blue-lehenga-party-wear-indian-dresses-lehenga-choli.jpg');
}#sec-4-img-2{
	background-image: url('http://1.bp.blogspot.com/-hg58zysqNco/USoyVTzMoSI/AAAAAAAAANg/-My21JLnDHA/s1600/indian%2Bmarriage%2Bdresses%2B2013%2B%2Bindian%2Bwedding%2Bdresses%2B2014.png');
}#sec-4-img-3{
	background-image: url('https://s-media-cache-ak0.pinimg.com/736x/25/b4/43/25b44364a757a40587442f0c53e7f847--indian-dresses-indian-clothes.jpg');
}#sec-4-img-4{
	background-image: url('https://s-media-cache-ak0.pinimg.com/736x/54/02/9f/54029f514a5744ca9a21b616305610e2--indian-dresses-indian-clothes.jpg');
}
#sec-4-img-5{
	background-image: url('https://s-media-cache-ak0.pinimg.com/originals/43/b9/de/43b9de7155d5154d0ec21306fcd9961b.jpg');
}#sec-4-img-6{
	background-image: url('https://s-media-cache-ak0.pinimg.com/originals/c2/c1/7b/c2c17b3b33a9fe0951be0a58154e7770.jpg');
}#sec-4-img-7{
	background-image: url('https://s-media-cache-ak0.pinimg.com/originals/c8/25/35/c825355909865f586b9ccc9cd54812cd.jpg');
}#sec-4-img-8{
	background-image: url('https://s-media-cache-ak0.pinimg.com/originals/54/60/e9/5460e940445708dfa316cc5709e9be1e.jpg');
}
/*Section 4 {img}*/

.sec-4{
	height: 1700px;
	padding: 5%;
	background-color: #FFFFFF;
	clear: both;
 	display: block;
}

.sec-4-btm{
	margin-top: 10px;
}
#sec-4-down{
	margin-top: 30%;
}
#sec-4-more-down{
	margin-top: 45%;
}
.sec-4-md{
	margin-bottom: 30%;
}


.sec-4-an-1{
	background-color: transparent;
	height: 600px;
	width: 600px;
	margin-left:10px; 
}

.sec-4-img{
	background-attachment: fixed;
	background-color: #0A0C26;
	height: 300px;
	width: 300px;
	z-index: 1;
	position: relative;
}

.sec-4-color{
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #0A0C26;
	z-index: 3;
	float: right; 
	width: 50%; 
}

.sec-4-img-v2{
	background-color: #0A0C26;
	height: 600px;
	width: 300px;
	z-index: 1;
	position: relative;
}

.sec-4-color-v2{
	background-color:gold;
	background-attachment: fixed;
	height: 600px;
	width: 300px;
	z-index: 3;
	position: relative;
	/*right: 1250px;
	top: 2300px;*/
	left: 100px;
	top: 450px;
}

.sec-4-head{
	font-size: 34px;
}

#sec-4-view-collection{
	margin-top: 20px; 
}


/*Section 4-animation*/
.sec-4-1-an{
	animation-name: sec-4-animate-1;
    animation-duration: 1s;
}
.sec-4-2-an{
	animation-delay: .25s;
	animation-name: sec-4-animate-1;
    animation-duration: 1s;
}
.sec-4-3-an{
	animation-delay: .75s;
	animation-name: sec-4-animate-1;
    animation-duration: 1.5s;
} 

.sec-4-4-an{
	animation-delay: 1s;
	animation-name: sec-4-animate-1;
    animation-duration: 1s;
} 

 
@keyframes sec-4-animate-1 {
	from {
		transform: translateX(0px);
		width: 0px;
		
	}
    to {
		transform: translateX(0px);
		width: 350px;
		
	}
}
/*Section 4-animation*/

/*Section 4*/


/*Section 5*/

.sec-5{
		font-size: 450%;
		font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
		/* height: 70vh; */
		color: #C9954C;
		 display: block; 
		 clear: both; 
	}

.sec-5-back-img{
	background-image: url('./Screen Shot 2017-08-03 at 10.58.23 PM.png');
	/*background-color: #CA3517;*/
	background-repeat: no-repeat;
	/* background-attachment: fixed; */
	z-index: 1;
	height: 370px;
	background-size: cover; 


	
}


.sec-5-word-cont{
	position: relative;
	top: 10%; 
	z-index: 2;
	background-attachment: fixed;
	
}


.sec-5-word{
	top: 22px;
	z-index: 3;
	position: relative;
	background-attachment: fixed;
}

.sec-5-logo-container{
	position: relative; 

}

.sec-5-logo{
	width: 350px;
	height:350px; 
		/* animation-name: sec-4-animate-1;
    animation-duration: 2s; */
}


/*Section 5*/

/*Section 6*/
	.sec-6{
		padding: 5%;
		height: 80vh;
		color: blanchedalmond;
		display: block;
		clear: both;
	}

	.sec-6-header{
		font-size: 20px;
		font-weight: bold;
		padding: 4%;

		
	}

	.sec-6-img{
		width: 30%;
		height: 35vh;
		padding: 30px;
		margin: 10px;
		float: right;
		
	}


	#sec-6-img-id-1{
		background-image: url('https://s-media-cache-ak0.pinimg.com/736x/e0/d4/0d/e0d40dbd04b823b37b0eaa7115ddeab5--saree-fashion-indian-fashion.jpg');
		filter: grayscale(100%);
	}

	#sec-6-img-id-1:hover{
		-webkit-filter: grayscale(0%);
    	filter: grayscale(0%);
		
	}

	#sec-6-img-id-2{
		background-image: url('https://s-media-cache-ak0.pinimg.com/736x/f5/d4/16/f5d41658bd69c67067df07732140c916--india-fashion-asian-fashion.jpg');
		filter: grayscale(100%);
	}
	#sec-6-img-id-2:hover{
		-webkit-filter: grayscale(0%);
    	filter: grayscale(0%);
	}

	#sec-6-img-id-3{
		background-image: url('https://s-media-cache-ak0.pinimg.com/736x/eb/d9/23/ebd923e7890e87100938eebce1dbfc1f--blouse-outfit-indian-dresses.jpg');
		filter: grayscale(100%);
	}
	#sec-6-img-id-3:hover{
		-webkit-filter: grayscale(0%);
    	filter: grayscale(0%);
	}

/*Section 6*/

/*Section 7*/

.sec-7{
	height: 100vh;
	width: 100%;
	color: #C9954C;
	background-color: #fff;
}
#sec-7-left{
	float: left;
	background-image: url('https://s-media-cache-ak0.pinimg.com/originals/2b/bc/55/2bbc55ab166d64604b31ac79906b603e.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: right top;
	background-repeat: no-repeat;
	width: 50%;
	z-index: -1;
	height: inherit;
}
#sec-7-right{
	float: right;
	width: 50%;
	height: inherit;
}
.sec-7-word-cont{
	font-size: 36px;
	z-index: 4;

	height: 80%;
	width: 60%;
	position: relative;
	top: 30%;
	right: 20%;
}
.sec-7-word{
	font-size: 36px;
	z-index: 4;
	margin-bottom: 40%;
	height: 70%;
	width: 100%;
	position: relative;
	top: 30%;
}

.arrow{
	position: relative;
	left: 10%;
	top: 40%;
}

#sec-7-word-b{
	font-size: 50px;
	right: 20px;
}

#sec-7-word-2{}

hr.style17 {
    border-top: 1px solid #8c8b8b;
    text-align: center;
}
hr.style17:after {
    content: '§';
    display: inline-block;
    position: relative;
    top: -14px;
    padding: 0 10px;
    background: #f0f0f0;
    color: #8c8b8b;
    font-size: 18px;
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    transform: rotate(60deg);
}


#sec-7-animation-1{
	font-size: 50px;
	animation-duration: 1s;
	animation-name: word-fade;
	transition: all ease-in-out 5s;
	-webkit-animation-fill-mode: forwards;
}		
#sec-7-animation-2{
	animation-duration: 2s;
	animation-name: word-fade;
	transition: all ease-in-out 3s;
	-webkit-animation-fill-mode: forwards;
}

#sec-7-animation-2{}

/*Section 7*/

/*Section 8*/


.sec-8{
		font-family: Helvetica, sans-serif;
		display: block;
		clear: both;
		height: 80vh;
		color: black;
		background-color: transparent;
	}


.sec-8-word-fade{
	animation-duration: 3s;
	animation-name: word-fade;		
	transition: all ease-in-out 5s;
	-webkit-animation-fill-mode: forwards;
}

.sec-8-word-fade-r{
	animation-duration: 3s;
	animation-name: word-fade-r;
	transition: all ease-in-out 5s;
	-webkit-animation-fill-mode: forwards;
}


.sec-8-word{
	/*position: relative;*/
	left: 100px;
	font-family: Helvetica, sans-serif;
	font-size: 35px;
	
}

.sec-8-dd{
	top: 50px;
}

.sec-8-back-word{
	font-size: 450%;
}


@keyframes word-fade{
   
	from {
		color: transparent;
		transform: translateX(0);		

	}
    to {
		color: black;
		transform: translateX(-100px);
		font-size: 35px;


	}
}

@keyframes word-fade-r{
   
	from {
		color: transparent;
		transform: translateX(0);		

	}
    to {
		color: black;
		transform: translateX(100px);
		font-size: 35px;


	}
}

/*Section 8*/



/*Media query*/

@media only screen and (min-width: 1000px) and (max-width: 1500px) {

	 
	.sec-6{
		display: block;
		overflow: hidden;
		padding: 3%;
		height: 100vh;
		color: blanchedalmond;
		border-style: solid;
	}

	.sec-6-img{
		width: 60%;
		height: 40vh;
		padding: 30px;
		margin: 10px;
		background-color: darkcyan;
	
		
	}

	.sec-6-img-cont{
		clear: both;
		margin-right: 250px;
	}
     

}

@media only screen and (max-width: 990px) {
   
	.sec-6{
		display: block;
		overflow: scroll;
		padding: 3%;
		height: 100vh;
		color: blanchedalmond;
		border-style: solid;
	}
	

	.sec-6-img{
		width: 70%;
		height: 35vh;
		padding: 30px;
		margin: 10px;
		background-color: darkcyan;
	
		
	}

	.sec-6-img-cont{
		clear: both;
		margin-right: 120px;
	}

}