.contact-form{
	/*margin: 0 30% 0 30%;*/
	top: 10%;
	float: none;
	background-color: white;
	margin: 20px auto;
	padding: 20px;
}

.social-buttons{
	display: flex;
	text-align: center;
}

#contact-form-message{
	resize: vertical;
	max-height: 200px;
}
