#title {
    text-align: center;
    font-family: 'Helvetica', 'Arial', 'sans-serif';
    color: #C9954C;
    margin: 15px;
}

#figOne {
align: center;
}

#figTwo {
    align: center;
}

#media {
    margin-top: 50px;
}
#image {
   margin: 0 auto;
}

#divspace {
    width: 100%;
    padding: 0px 15px;
}

/*.news {*/
    /*margin: 10px;*/
/*}*/