#title {
    text-align: center;
    font-family: 'Helvetica', 'Arial', 'sans-serif';
    color: #C9954C;
}

#figOne {
    align: center;
}

#figTwo {
    align: center;
}

#media {
    margin-top: 80px;
}
#image {
   margin: 0 auto;
}

#mediap {
    margin: 0 1px;
    padding: 5px;
    border-style: solid;
}
/*.news {*/
    /*margin: 10px;*/
/*}*/

.border {
    padding: 20px;
}