#title {
    text-align: center;
    font-family: 'Helvetica', 'Arial', 'sans-serif';
    color: #C9954C;
    width: 80%;
}

#media {
    overflow: hidden;
    padding-top: 10px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*.news {*/
    /*margin: 10px;*/
/*}*/

.pressContain{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
}

.pressBox{
    max-width: 400px;
    max-height: 600px;
    margin-bottom: 20px;
    background-color: #C9954C;
    border: solid #C9954C 3px;
    border-radius: 5px;
}

#mediaimgbox{

}
#mediaimg{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
#mediaDescriptionbox{
    color: #0A0C26;
    font-size: 20px;
    padding: 5px;
}
