


.footer-container{
    background-color: #0A0C26;
    color: #C9954C;
    font-style: normal;
    font-size: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    
}

.footer-margin{
    margin-left: 15%;
    margin-right: 15%;
}

.footer-margin-v2{
    margin-left: 15%;
}

.spacer{
    border-left-style: solid;
    border-left-width: thick;
    border-color: #C9954C;
    line-height: 200%; 
}

.inv-spacer{
    line-height: 200%;  
}

.padder-right{
    margin-left: -20px;
}

a{
    color: #C9954C;
}

.footer-li{
    float: left;
    margin-right: 15%;
    
}

.footer-ul{
    list-style-type: none;
}
#sec-media{
    display: none
}

@media only screen and (max-width: 1100px) {
   
    #sec-media{
        display: none;
    }

    #first-media{
        display: inline;
    }

}


@media only screen and (min-width: 1100px) and (max-width: 1500px) {

     #first-media{
        display: none;
    }

    #sec-media{
        display: block;
        border-left-style: none !important;
        margin-left: 30%;
    }
   

   .spacer{
        border-left-style: none;
        border-left-width: thin;
        border-color: #0A0C26;
        line-height: 200%; 
    }

}

@media only screen and (max-width: 990px) {
   
    #sec-media{
        display: none;
    }

    #first-media{
        display: inline;
    }


    .spacer{
        border-style: none;
        border-color: #0A0C26;
        
    }

}