.footer-container{
    background-color: #0A0C26;
    color: #C9954C;
    font-weight: bold;
    font-style: normal;
    font-size: 12px;
    line-height: 14px;
    padding: 2%;
}

.footer-margin{
    margin-left: 30%;
    margin-right: 30%;
}


.footer-mid-text{
    font-size: 15px;
}

/*.footer-media{
    margin-right: 20%;
}*/