


.footer-container{
    background-color: #0A0C26;
    color: #C9954C;
    font-style: normal;
    font-size: 10px;
    line-height: 10px;
}

.footer-margin{
    margin-left: 15%;
    margin-right: 15%;
}

.footer-margin-v2{
    /*margin-left: 15%;
    margin-right: 15%;*/
}

.spacer{
    border-left-style: solid;
    border-left-width: thick;
    border-color: #C9954C;
    line-height: 200%; 
}

.inv-spacer{
    line-height: 200%;  
}

.padder-right{
    margin-left: -20px;
}

a{
    color: #C9954C;
}

@media only screen and (max-width: 800px) {


    .footer-container{
    background-color: blue;
    color: red;

    font-size: 30px;
    line-height: 19px;
    }
   
}