

#disney-text{
    text-align: center;
    font-size: 42px;
    
}
#disney-date{
    text-align: center;
    font-size: 30px;
}
#disney-date-and-text-box{

}
#disney-collection-image{

}

#collection-box{
    background-color: #222756;
    border-radius: 10px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
