#blogcontainer{

    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

}
#postcontainer{
    position: relative;
    left: -10%;

}
#blogtitleandlogo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#blogtitle{
    width: 100%;
    font-family: 'Bellefair', serif;
    font-size: 52px;
    color: #C9954C;
    text-align: center;
}
#logoonblog{
    width: 300px;
}
.blogposts{
    max-width: 800px;
    border-radius: 5px;
}
#blogsidebar{
    width: 300px;
    font-family: 'Bellefair', serif;
    border-radius: 5px;
    background-color: white;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    right: 5%;
    top: 100px;
}
#blogheadshot{
    background-color: white;
    height: 275px;
    width: 300px;
    border-radius: 5px;
}
#blogheadshotimg{
    height: 250px;
    width: 250px;
    margin-left: 25px;
    margin-top: 25px;
    background-color: white;
}
#blogsideabout{
    background-color: white;
}
#blogsidesocial{
    background-color: white;
    text-align: center;
    border-radius: 5px;
}
#blogsocials{
    display: flex;
    justify-content: space-around;
}
#blogsocialface{

}
#blogsocialtwit{

}
#blogsocialinsta{

}
.blognavigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}




@media (max-width: 1400px){
    #blogsidebar{
        position: inherit;
    }
    #postcontainer{
        width: 800px;
    }
    #blogcontainer{
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
}
@media (max-width: 1125px){
    #postcontainer{
        left: 0%;
    }
}
@media (max-width: 950px){
    #postcontainer{
        left: 0px;
        max-width: 100%;
    }


}
