

.designer-container{
    background-color: #fff;
    padding: 5%;
    color: #C9954C;
    font-family: 'Bellefair', serif;
    max-height: 1910px;

}

.designer-img-container{
    height: 390px;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 5%;
    border-style: solid;
    border-color: #C9954C;
    border-width: thick; 
}

.margin-down{
    margin-top: 10px;
}

h1 {
    padding: 50px;
}

p{
    font-size: 16px;
    line-height: 30px;
    margin-left: 30%;
    margin-right: 30%;
}


.designer-img{
    width: 292px;
    height: 385px;
}


.full-logo{
    height: 700px;
    width: 300px;
}


.img-logo-designer{
    /*background-size: auto;
    background-image: url("/../images/full-logo.png");
    background-repeat: no-repeat;*/
    height: 120px;
    width: 120px;
    margin: 0 auto;
    margin-bottom: 0;
}
