.designer-container{
    background-color: #0A0C26;
    margin: 0px;
}


#designer-img{
    width: 500px;
    height: 750px;;
    
}

.margin-down{
    margin-top: 10px;;
}


.stuff-center{
    margin-right: 30%;
    
}