

.App-header {
  /*background-color: #0A0C26;
  height: 150vh;
  padding: 20px;
  color: white;*/

    height: 100%;
    min-height: calc(103vh - 128px);

    background-color: #0A0C26;
    margin-top: 70px;
}


/*@keyframes App-logo-spin {*/
  /*from { transform: rotate(0deg); }*/
  /*to { transform: rotate(360deg); }*/
/*}*/
